:root {
    --color-primary-gradient: linear-gradient(to right bottom, #552586, #6d3e99, #8556ad, #9d6fc1, #b589d6);
    --color-primary: black;
    --correct-color: #3F8F29;
    --wrong-color: #DC2626;
    --max-opacity: 100%;
    --min-opacity: 0%;
}

body {
    background-image: var(--color-primary-gradient);
    background-attachment:fixed;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    max-height: 100vh;
}

.orbitron {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
}


.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
    background-color:var(--color-primary);
    max-width: 80%;
    max-height: 40%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

h4 {
    margin: 10px;
    margin-right: 10px;
}

.interactive {
    text-align: center;
}

.count h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.input-interactive::placeholder {
    color: var(--wrong-color);
}

.container-answer {
    display:flex;
    justify-content: center;
    align-items: center;
}

.column-answer {
    display: grid;
    grid-template-columns: repeat(2, 125px);
    gap: 10px;
}

.square {
    font-size: 40px;
    width: 125px;
    height:125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b5be0;
    border-radius: 10px;
    opacity: var(--max-opacity);
}

@media (hover: hover) {
    .square:hover {
        background-color: #0735b4;
    }
}

.square-wrong {
    background-color: var(--wrong-color);
    pointer-events: none;
}

.square-correct {
    background-color: var(--correct-color);
    pointer-events: none;
    
}
